[submodule "agbcc"]
	path = agbcc
	url = https://github.com/pret/agbcc.git
[submodule "pokeemerald_ai_rl"]
	path = pokeemerald_ai_rl
	url = git@github.com:wissammm/pokeemerald_ai_rl.git
[submodule "rustboyadvance-ng-for-rl"]
	path = rustboyadvance-ng-for-rl
	url = git@github.com:wissammm/rustboyadvance-ng-for-rl.git
